html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/testproject-c8451.appspot.com/o/guild_wars_2_background.jpg?alt=media&token=5bdc7f3f-7948-4026-97db-8c7649da5508");
  background-attachment: fixed;
  background-position: 50%;
  background-size: auto 150%;
  background-color: #29293a;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  background-color: #0b0b0f;
  padding: 5px 0;
  color: inherit;
  text-align: center;
}

a,
a:visited {
  color: inherit;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

b {
  font-weight: 600;
}

.section_content_link {
  text-decoration: underline !important;
}

.section_content_link:hover {
  color: lightgray;
}

.section_content {
  text-align: left;
  padding: 0 10px;
}

.section_content_headline {
  display: inline-block;
  margin: 0;
}

.nav_section {
  border-bottom: 2px solid black;
  background: #0b0b0f;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover,
.router-link-exact-active {
  text-decoration: underline;
}

.section_content_text {
  margin: 0 0 10px 0;
}

.section_content_table {
  background-color: rgba(11, 11, 15);
  margin: auto;
  padding: 10px 30px;
  width: 90%;
  max-width: 400px;
}

.section_content_table td {
  padding: 4px;
}

.section_image_right {
  background: black;
  float: right;
  margin: 20px 0 20px 20px;
  border: 1px solid black;
}

.right_section,
.left_section,
.full_section {
  box-sizing: border-box;
}

.right_section,
.left_section {
  width: 50%;
}

.full_section {
  width: 100%;
}

.right_section {
  padding-left: 10px;
}

.left_section {
  padding-right: 10px;
}

.action_link {
  display: block;
  float: right;
  margin-right: 2px;
  color: rgb(182, 194, 214);
  cursor: pointer;
}

.blue_button,
.section_button {
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  border: 1px solid rgb(53, 86, 137);
  background: rgb(53, 86, 137);
}

.blue_button {
  font-size: 16px;
  padding: 3px 8px 3px 8px;
  font-weight: 600;
  font-size: 20px;
}

.truncate {
  display: block;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  width: 100%;
}

.section_button {
  height: 25px;
  font-size: 18px;
  padding: 0 3px;
  float: right;
}

.blue_button:hover,
.section_button:hover {
  border: 1px solid white;
}

.page_width {
  max-width: 900px;
  min-width: 320px;
  margin: auto;
}

.table_label {
  vertical-align: top;
  padding-right: 5px;
  text-align: right;
  font-weight: bold;
}

.button_section_vertical {
  display: flex;
  flex-flow: column nowrap;
}

.button_section_vertical button {
  margin-bottom: 5px;
}

.button_section_vertical button:last-of-type {
  margin-bottom: 0px;
}

.button_section_row {
  display: flex;
  flex-flow: row nowrap;
}

.button_section_row button {
  margin-left: 5px;
}

.button_section_row button:first-of-type {
  margin-left: 0;
}

/* Text Input */

.gw2-profile-input-container {
  display: block;
  position: relative;
  width: 100%;
}

.gw2profile-input {
  background-color:rgb(41, 41, 54);
  border: none;
  border-radius: 5px;
  box-sizing: content-box;
  color: white;
  flex: 1;
  font-size: inherit;
  font-family: inherit;
  min-width: 0;
  padding: 0 10px;
  width: 100%;
}

.gw2profile-input-message {
  background-color:rgb(41, 41, 54);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: inherit;
  font-family: inherit;
  left: 100%;
  position: absolute;
  z-index: 10;
}

@media all and (max-width: 750px) {
  .left_section,
  .right_section {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100%;
  }
}
