.profile_section_item_label {
  margin-right: 10px;
  font-weight: 600;
}

.profile_section_item {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 5px;
}

.profile_section_item:last-of-type {
  margin-bottom: 0;
}

.profile_section_item_text {
  flex: 1;
  min-width: 0;
}

.profile_section_item_input {
  box-sizing: content-box;
  flex: 1;
  padding: 0 10px;
  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
  background: inherit;
  color: inherit;
  border: none;
  background-color:rgb(41, 41, 54);
  min-width: 0;
}

.profile_section_item_input_error::placeholder {
  color: rgb(248, 131, 121);
}

.profile_section {
  box-sizing: border-box;
  margin: 10px 0 0 0;
  text-align: left;
}

.profile_section_header {
  font-size: 26px;
  display: inline-block;
  background: rgb(53, 86, 137);
  margin: 0;
  padding: 5px 10px;
 }

.profile_section_body {
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  background: rgba(11, 11, 15, 1);
}

.profile_section_buttons {
  margin-left: 10px;
}

.profile_section_content {
  flex: 1;
  min-width: 0;
}